/* Menu */

.menu {
  background: #252525;
  padding: 15px 0;
}

.menu-nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
}
.menu-logo {
  margin: 0 10px;
}
.menu-nav {
  flex: 1;
  align-self: center;
  margin: 0 10px;
}
.menu-nav ul {
  display: flex;
  float: right;
  list-style: none;
}
.menu-nav ul li a {
  padding: 10px;
}
@media only screen and (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 350px;
  }
}
@media only screen and (max-width: 420px) {
  .menu-nav ul li a {
    font-size: 16px;
  }
}