/* Header */
.header {
  display: flex;
  background: #d6d3c8;
  padding: 20px;
}
.header::after,
.header::before {
  content: '';
  display: table;
  clear: both;
}
.header-logo {
  float: left;
}
.header-menu ul {
  float: right;
}
.header-menu li {
  display: inline-block;
}

.header-menu li a {
  color: #252525;
  font-size: 1.125em;
  padding: 0 10px;
}
@media (min-width: 740px) {
  .menu {
    display: none;
  }
}
@media (max-width: 739px) {
  .header-logo {
    float: none;
  }
  .header-menu ul {
    float: none;
  }
}